.container {
    max-width: 900px;
    width: 100%;
    height: 704px;
    margin: 24px auto;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

@media screen and (max-width: 901px) {
    .container {
        max-width: 600px;
        height: 504px;
        margin: 12px auto;
    }

}

.header {
    display: flex;
    gap: 24px;
    padding: 25px;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);

}

.name {
    font-size: 20px;
    font-weight: 600;
}

.links {
    display: flex;
    gap: 18px;
    margin-top: 8px;
}

.link_item {
    display: flex;
    gap: 6px;
}

.content {
    padding: 24px;
    margin-bottom: 291px;
}

.input_label {
    font-size: 14px;
}

.form_input {
    margin-top: 8px;
    max-width: 400px;
    width: 100%;
    height: auto;
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.04);
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 4px;
}

.input_email_block {
    margin-top: 24px;
}

.form_button {
    margin-top: 48px;
    padding: 12px 16px;
    background-color: #5558FA;
    color: white;
    border-radius: 4px;
    transition: 0.1s all ease;
    border: 1px solid #5558FA;
}

.form_button:hover {
    color: #5558FA;
    background-color: white;
}

@media screen and (max-width: 621px) {
    .container {
        max-width: 500px;
        height: 504px;
        margin: 12px auto;
    }
    .header {
        flex-direction: column;
        text-align: center;
    }
    .form_button {
        margin-top: 24px;
    }
    .input_email_block {
        margin-top: 12px;
    }

}
.phone_error {
    color: red;
}